*{
    padding: 0%;
    margin: 0%;
}

.bg{
    background-image: url("netflix-bg.jpg");
    background-size: cover;
    height: 900px;
    width: 100%;
    
}

.box{
    height: 70vh;
    width: 100%;
    background-color: black;
    opacity: 0.4;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.button{
    background-color: black;
    color: white;
}

.sign-in{
    color: white;
    background-color: rgb(221, 61, 61);
    font-weight: 600;
}
.logo{
    height: 50px;
    width: 100px;
    margin-left: 200px;
}

.c-text{
    display: flex;
    justify-content: center;
    max-width: 40vw;
    height: 520px;
    margin: auto;
    flex-direction: column;
    align-items: center;
    color: azure;
    z-index: 10;
    position: relative;
}

.f-text{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bold;
    font-size:50px;
    text-align: center;
}

.s-text{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    font-weight: bold;
}

.t-text{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.email-box{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;

}

.email:hover{
    border: 2px solid orange;
}
.email{
    height: 30px;
    width: 350px;
    color:rgba(255, 255, 255, 0.998);
    border: 2px solid rgb(231, 224, 224);
    background-color: transparent;
    margin-right: 10px;
}

.start{
    height: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 800;
    color: white;
    background-color: rgb(240, 17, 17);
}

.movie{
    height: 310px;
    display: flex;
    justify-content: space-evenly;
    background-color:transparent;
}

.anime:hover{
    border-color: rgb(241, 134, 33);
}

.b1{
    height: 300px ;
    width: 200px;
    border: 2px solid black;
    border-radius: 4px;
    margin-top: 25px;
    background-image: url("box1_image.jpg");
    background-size: cover;

}

.b2{
    height: 300px ;
    width: 200px;
    border: 2px solid black;
    border-radius: 4px;
    margin-top: 25px;
    background-image: url("box2_image.jpg");
    background-size: cover;
}

.b3{
    height: 300px ;
    width: 200px;
    border: 2px solid black;
    border-radius: 4px;
    margin-top: 25px;
    background-image: url("box3_image.jpg");
    background-size: cover;
}

.b4{
    height: 300px ;
    width: 200px;
    border: 2px solid black;
    border-radius: 4px;
    margin-top: 25px;
    background-image: url("box4_image.jpg");
    background-size: cover;
}

.b5{
    height: 300px ;
    width: 200px;
    border: 2px solid black;
    border-radius: 4px;
    margin-top: 25px;
    background-image: url("box5_image.jpg");
    background-size: cover;
}

.info{
    height: 400px;
    width: 100%;
    display: flexbox;
    text-align: center;
    background-image: url("netflix-bg.jpg");
    background-color: transparent;
    background-color: rgb(236, 191, 191);
}

.line1{
    height: 60px;
    width: 600px;
    border: 2px solid rgb(224, 62, 62);
    font-size: 25px;
    color: rgb(237, 90, 90);
    background-color: rgb(79, 73, 73);
    margin-top: 20px;
    margin-left: 30%;
}

.line2{
    height: 60px;
    width: 600px;
    border: 2px solid rgb(224, 62, 62);
    font-size: 25px;
    color: rgb(237, 90, 90);
    background-color: rgb(79, 73, 73);
    margin-top: 20px;
    margin-left: 30%;
}

.line3{
    height: 60px;
    width: 600px;
    border: 2px solid rgb(224, 62, 62);
    font-size: 25px;
    color: rgb(237, 90, 90);
    background-color: rgb(79, 73, 73);
    margin-top: 20px;
    margin-left: 30%;
}

.line4{
    height: 60px;
    width: 600px;
    border: 2px solid rgb(224, 62, 62);
    font-size: 25px;
    color: rgb(237, 90, 90);
    background-color: rgb(79, 73, 73);
    margin-top: 20px;
    margin-left: 30%;
}

.line5{
    height: 60px;
    width: 600px;
    border: 2px solid rgb(224, 62, 62);
    font-size: 25px;
    color: rgb(237, 90, 90);
    background-color: rgb(79, 73, 73);
    margin-top: 20px;
    margin-left: 30%;
}